# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Data and Cache
*.csv
*.pkl
*.txt
!csv_guide.txt
!upstox_token.txt
!spot_ltp.txt

# IDEs
.vscode/
.idea/
*.swp
*.swo
